$fore-color: rgb(37, 37, 37);
$font-color: rgb(240, 231, 213);
$font-face: OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    padding: 0px 0px 20px;
    margin: 0px;
    font-family: $font-face;
    font-size: 14px/1.5;
    background-color: rgb(37, 37, 37);
    color: rgb(240, 231, 213);
    background-attachment: fixed;
}

header {
    z-index: 100;
    left: 0;
    top: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #353535;
    border-bottom: 4px solid #434343;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}

header nav {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    margin: 6px auto;
}

nav {
	ul li {
		float: left;
		list-style-type: none;
		padding: 10px;
	}
}

.wrapper {
    max-width: 650px;
    position: relative;
    margin: 0px auto;
    padding: 0px 20px;
}

section {
	max-width: 650px;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 70px;

	#title h1 {
	    font-family: $font-face;
	    font-weight: normal;
	    font-size: 40px;
	    text-align: center;
	    line-height: 36px;
	}

	#title p {
	    color: #d7cfbe;
	    font-family: $font-face;
	    font-weight: normal;
	    font-size: 18px;
	    text-align: center;
	}
}

a {
    color: #ffcc00;
    font-weight: 400;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
    margin: 0 0 10px;
    font-family: $font-face;
    font-weight: normal;
}

#container li {
    list-style-type: none;
    background-color: #353535;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 1px 1px #ffffff6e;
    border-radius: 5px;
}

#container ol li {
    background-color: #574343;
}

#container ol ul li {
    background-color: #3f3030;
}

#container ol ul ol li {
    background-color: #7c4e4e;
}